.hero{
    align-items: stretch;
    min-height: 100vh;
    background: url(../imgs/hero.png) center no-repeat;
    background-size: cover;
    padding: 0 0 $text-padding*3 0;
    @media screen and(max-width: $sm){
    }
    .hero__header{

    }
    .hero__hero-tagline{
        
    }
}
.hero-heading{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 $layout-padding;
    color: $light-color;
    text-shadow: 1px 1px $primary-color;
    .hero-heading__tagline{
    }
    .hero-heading__body{
        max-width: 40%;
        padding: 2*$block-padding 0 $block-padding 0;
        font-family: $family-primary;
        font-size: 1em;
    }
    .hero-heading__button{
        margin-top: $block-padding;
    }
}
.tagline-underline{
    span{
        padding: $block-padding 0;
        border-bottom:  $underline-border;
        border-color: transparent;
        @media screen and(max-width: $lg){
            padding:  $block-padding/2 0 ;
        }
        @media screen and(max-width: 900px){
            padding:  $block-padding/3 0 ;
        }
    }
    .underline{
        border-color: $highlight-color;
    }
}

////section partners
.partners{
    flex-direction: row;
    justify-content: space-between;
    min-height: $partenrs-height;
    height: auto;
    img{
        @media screen and(max-width: $md){
            margin:  $text-padding*3 $text-padding*3 0 0 ;
        }
    }
    img:last-child{
        @media screen and(max-width: $md){
            margin-right: 0;
            margin-bottom: $text-padding*3;
        } 
    }
    @media screen and(max-width: $md){
        flex-wrap: wrap;
        justify-content: center;
    }
}

///////////age section////////////
.age{
    justify-content: flex-end;
    min-height: $age-height;
    text-align: center;
    padding-top: $filler-margin;
    background-color: $highlight-color;
    color: $light-color;
    .age__body{
        padding: 2*$block-padding 0;
    }
    .age__picture{
        position: relative;
        padding-top: 2*$block-padding;
        bottom: -10px;
        max-width: 100%;
        @media screen and(max-width: $sm){
            bottom: -3px;
        } 
    }
    @media screen and(max-width: $md){
        min-height: auto;
    } 
}

///////////////////mbis-purpose section/////////
.mbis-purpose{
    min-height: $mbis-purpose-height; 
    justify-content: center;
    .mbis-puppose__mission{
        max-width: 57%;
        text-align: center;
        @media screen and(max-width: $lg){
            max-width: 80%;
        } 
        @media screen and(max-width: $md){
            max-width: 90%;
        } 
        @media screen and(max-width: $sm){
            max-width: 100%;
        } 
    }
    .mbis-puppose__mission, .mbis-purpose__header, .mbis-purpose__button{
        margin: $block-padding 0 ;
    } 
}

///////////////home-support//////////////
.home-support{
    flex-direction: row;
    justify-content: center;;
    position: relative;
    height: $home-support-height;
    max-width: 100%;
    margin-bottom: $home-support-margin;
    background: url(../imgs/home-support.png) center no-repeat;
    background-size: cover;
    .home-suppot__slider{
        max-width: 100%;
        position: absolute;
        bottom: -$slider-parallax;
    }
    @media screen and(max-width: $lg){
        height: $home-support-height/1.5;
    } 
    @media screen and(max-width: 600px){
        height: $home-support-height/2;
    } 
    @media screen and(max-width: $sm){
        height: $home-support-height/3.5;
    } 
}

///////////////career////////////
.career{
    flex-direction: row;
    justify-content: stretch;
    min-height: $career-height;
    overflow: hidden;
    padding: 0;
    margin-bottom: $home-support-margin - $slider-parallax;
    .career__career-img{
        width: 51%;
        @media screen and(max-width: 780px){
            width: 100%;
        } 
    }
    .career__career-body{
        width: 49%;
        @media screen and(max-width: 780px){
            width: 100%;
            padding: $slider-parallax $layout-padding $slider-parallax+$text-padding $layout-padding;
        }
    }
    @media screen and(max-width: 1196px){
        min-height: auto;
    } 
    @media screen and(max-width: 780px){
        flex-direction: column;
    } 
}
.career-body{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $slider-parallax $layout-padding $slider-parallax+$text-padding;
    background-color: $career-baclground;
    color: $light-color;
    .career-body__agitation{
        font-family: "Lato-Italic";
    }
    h2{
        @media screen and(max-width: 990px){
            font-size: $font-size-h2*0.7; 
        }
    }
    .career-body__description{
        max-width: 90%;
        @media screen and(max-width: 990px){
            max-width: 100%;
        }
    }
    .career-body__button{
        background-color: $career-button-color;
        @include box-shadow($career-shadow-color);
    }
    @media screen and(max-width: 1196px){
        padding: $text-padding $layout-padding $text-padding*3;
    } 
}
