.slider{
    .slider__container{
        margin: 0 auto;
        width: $slider-item-width;
        max-width: 85%;
        .slider__item{
            max-width: 100%;
            img{
                max-width: 100%;;
            }
        }
    }
}