@font-face {
  font-family: "Lato-Hairline";
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/latohairline.woff2") format("woff2"), url("../fonts/lato/latohairline.woff") format("woff"), url("../fonts/lato/latohairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato-HairlineItalic";
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../fonts/latolatohairlineitalic.woff2") format("woff2"), url("../fonts/lato/latohairlineitalic.woff") format("woff"), url("../fonts/lato/latohairlineitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Thin";
  src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/lato/latothin.woff2") format("woff2"), url("../fonts/lato/latothin.woff") format("woff"), url("../fonts/lato/latothin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato-ThinItalic";
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("../fonts/lato/latothinitalic.woff2") format("woff2"), url("../fonts/lato/latothinitalic.woff") format("woff"), url("../fonts/lato/latothinitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Light";
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato/latolight.woff2") format("woff2"), url("../fonts/lato/latolight.woff") format("woff"), url("../fonts/lato/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato-LightItalic";
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/lato/latolightitalic.woff2") format("woff2"), url("../fonts/lato/latolightitalic.woff") format("woff"), url("../fonts/lato/latolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Regular";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato/latoregular.woff2") format("woff2"), url("../fonts/lato/latoregular.woff") format("woff"), url("../fonts/lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Italic";
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato/latoitalic.woff2") format("woff2"), url("../fonts/lato/latoitalic.woff") format("woff"), url("../fonts/lato/latoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Medium";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/lato/latomedium.woff2") format("woff2"), url("../fonts/lato/latomedium.woff") format("woff"), url("../fonts/lato/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato-MediumItalic";
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("../fonts/lato/latomediumitalic.woff2") format("woff2"), url("../fonts/lato/latomediumitalic.woff") format("woff"), url("../fonts/lato/latomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Semibold";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/lato/latosemibold.woff2") format("woff2"), url("../fonts/lato/latosemibold.woff") format("woff"), url("../fonts/lato/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato-SemiboldItalic";
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("../fonts/lato/latosemibolditalic.woff2") format("woff2"), url("../fonts/lato/latosemibolditalic.woff") format("woff"), url("../fonts/lato/latosemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Bold";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato/latobold.woff2") format("woff2"), url("../fonts/lato/latobold.woff") format("woff"), url("../fonts/lato/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato-BoldItalic";
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../fonts/lato/latobolditalic.woff2") format("woff2"), url("../fonts/lato/latobolditalic.woff") format("woff"), url("../fonts/lato/latobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Heavy";
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/lato/latoheavy.woff2") format("woff2"), url("../fonts/lato/latoheavy.woff") format("woff"), url("../fonts/lato/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato-HeavyItalic";
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("../fonts/lato/latoheavyitalic.woff2") format("woff2"), url("../fonts/lato/latoheavyitalic.woff") format("woff"), url("../fonts/lato/latoheavyitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Black";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato/latoblack.woff2") format("woff2"), url("../fonts/lato/latoblack.woff") format("woff"), url("../fonts/lato/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato-BlackItalic";
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../fonts/lato/latoblackitalic.woff2") format("woff2"), url("../fonts/lato/latoblackitalic.woff") format("woff"), url("../fonts/lato/latoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-size: 18px;
  font-family: "Lato-Regular";
  color: #777777;
}

ul {
  list-style: none;
}

a:hover, a {
  text-decoration: none;
  color: inherit;
}

a:hover, button:hover {
  cursor: pointer;
}

button {
  border-radius: 0;
  border: none;
  color: inherit;
  font-family: inherit;
}

.button {
  height: 60px;
  width: 300px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #e1aa6e;
  box-shadow: 0 10px #ba8e5b;
  color: #ffffff;
}
@media screen and (max-width: 840px) {
  .button {
    font-size: 1em;
    height: 48px;
    width: 240px;
  }
}

h2 {
  font-family: "Lato-Black";
  font-size: 2.7em;
}
@media screen and (max-width: 840px) {
  h2 {
    font-size: 2.16em;
  }
}
@media screen and (max-width: 400px) {
  h2 {
    font-size: 1.89em;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 1.35em;
  }
}

h4 {
  font-family: "Lato-Bold";
  font-size: 1.3em;
}
@media screen and (max-width: 840px) {
  h4 {
    font-size: 1.04em;
  }
}
@media screen and (max-width: 400px) {
  h4 {
    font-size: 0.91em;
  }
}
@media screen and (max-width: 320px) {
  h4 {
    font-size: 0.65em;
  }
}

p {
  font-size: 1em;
  line-height: 1.8em;
  padding: 10px 0;
}
@media screen and (max-width: 1044px) {
  p {
    line-height: 1.5em;
  }
}
@media screen and (max-width: 900px) {
  p {
    line-height: 1.3em;
    font-size: 0.95em;
  }
}

.slider .slider__container {
  margin: 0 auto;
  width: 755px;
  max-width: 85%;
}
.slider .slider__container .slider__item {
  max-width: 100%;
}
.slider .slider__container .slider__item img {
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 110px;
  padding: 0 30px;
}
.header .header__logo {
  max-width: 50%;
  margin: 10px 0;
}
.header .header__logo img {
  max-width: 100%;
}
@media screen and (max-width: 648px) {
  .header .header__logo {
    max-width: 75%;
  }
}
@media screen and (max-width: 648px) {
  .header .header__menu {
    width: 100%;
    height: 0;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
  }
}
@media screen and (max-width: 648px) {
  .header .header__menu .menu__item {
    margin-left: 0;
  }
}
@media screen and (max-width: 648px) {
  .header .header__menu .menu__item:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 648px) {
  .header .header__menu .menu__link {
    background: rgba(236, 185, 126, 0.5);
  }
}
@media screen and (max-width: 648px) {
  .header .header__menu .menu__dropdown {
    display: block;
    position: static;
    height: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 648px) {
  .header .header__menu .menu__link-dropdown {
    padding-left: 30px;
    border-color: transparent;
    background: rgba(236, 185, 126, 0.5);
  }
}
@media screen and (max-width: 648px) {
  .header {
    min-height: 60px;
    flex-wrap: wrap;
  }
}

.footer {
  border-top: 3px solid #cccccc;
}
.upper-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
  padding: 45px 30px;
  font-size: 0.78em;
}
.upper-footer .upper-footer__menu {
  color: #999999;
}
.upper-footer .upper-footer__menu .menu__link:hover {
  color: #777777;
  text-shadow: none;
}
.upper-footer .upper-footer__menu .menu__link {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 1044px) {
  .upper-footer .upper-footer__menu .menu__link {
    height: auto;
  }
}
@media screen and (max-width: 1044px) {
  .upper-footer {
    min-height: auto;
    height: auto;
    padding: 22.5px 30px;
  }
}
.filler {
  display: flex;
}
.filler .filler__item {
  height: 13px;
  width: 13px;
  background-color: #eeeeee;
  margin-right: 40px;
}
.filler .filler__item:last-child {
  margin-right: 0;
}

.contacts {
  text-align: center;
  color: #b6b6b6;
}
.contacts a {
  display: block;
}
.contacts .contacts__email {
  font-family: "Lato-Bold";
  color: #e1aa6e;
}

.lower-footer {
  width: 90%;
  padding: 30px 0;
  margin: 0 auto;
  border-top: 1px solid #eeeeee;
  text-align: center;
  color: #cecece;
  font-size: 0.67em;
}
.lower-footer .lower-footer__copyright {
  padding: 5px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

.menu .menu__link-dropdown, .menu .menu__link {
  display: flex;
  align-items: center;
  height: 110px;
  padding: 0 5px;
  border-bottom: 5px solid;
  border-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
}
@media screen and (max-width: 648px) {
  .menu .menu__link-dropdown, .menu .menu__link {
    height: 45px;
    padding: 5px;
    text-align: left;
  }
}

.mobile-menu {
  display: none;
  width: 30px;
}
@media screen and (max-width: 648px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.mobile-menu__line {
  width: 70%;
  height: 3px;
  margin-top: 5px;
  background-color: #454546;
  border-radius: 1.5px;
  transition: 0.5s width ease-in-out;
}

.mobile-menu__line:first-child {
  margin-top: 0;
}

.mobile-menu:hover .mobile-menu__line, .open-mobMn .mobile-menu__line, .mobile-menu:active .mobile-menu__line {
  background-color: #ffffff;
}

.mobile-menu__line:first-child, .open-mobMn .mobile-menu__line:last-child, .mobile-menu:hover .mobile-menu__line:last-child, .mobile-menu:active .mobile-menu__line:last-child {
  width: 40%;
}

.mobile-menu__line:last-child, .open-mobMn .mobile-menu__line:first-child, .mobile-menu:hover .mobile-menu__line:first-child, .mobile-menu:active .mobile-menu__line:first-child {
  width: 100%;
}

.menu {
  display: flex;
  color: #454546;
}
.menu .menu__item {
  margin-left: 30px;
}
.menu .menu__item:first-child {
  margin-left: 0;
}
.menu .menu__item:last-child {
  padding-right: 0;
}
.menu .menu__item:hover, .menu .active, .menu .menu__link-dropdown:hover, .menu .open-dp-menu {
  color: #ffffff;
  text-shadow: 0.5px 0.5px #777777;
}
.menu .menu__dropdown-header {
  min-height: inherit;
  position: relative;
}
.menu .hidden {
  display: none;
}
.menu .menu__dropdown {
  position: absolute;
  top: 105px;
}
.menu .active {
  border-color: #00b5d2;
}
.menu .menu__link-dropdown {
  position: relative;
  height: auto;
  color: #454546;
  padding: 5px;
  border-bottom: none;
  border-top: 5px solid #00b5d2;
  background: rgba(236, 185, 126, 0.5);
  text-align: left;
  text-shadow: none;
}
.menu .show {
  display: block;
}

.hero {
  align-items: stretch;
  min-height: 100vh;
  background: url(../imgs/hero.png) center no-repeat;
  background-size: cover;
  padding: 0 0 15px 0;
}
.hero-heading {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  color: #ffffff;
  text-shadow: 1px 1px #777777;
}
.hero-heading .hero-heading__body {
  max-width: 40%;
  padding: 36px 0 18px 0;
  font-family: "Lato-Regular";
  font-size: 1em;
}
.hero-heading .hero-heading__button {
  margin-top: 18px;
}

.tagline-underline span {
  padding: 18px 0;
  border-bottom: 4px solid;
  border-color: transparent;
}
@media screen and (max-width: 1044px) {
  .tagline-underline span {
    padding: 9px 0;
  }
}
@media screen and (max-width: 900px) {
  .tagline-underline span {
    padding: 6px 0;
  }
}
.tagline-underline .underline {
  border-color: #00b5d2;
}

.partners {
  flex-direction: row;
  justify-content: space-between;
  min-height: 100px;
  height: auto;
}
@media screen and (max-width: 648px) {
  .partners img {
    margin: 15px 15px 0 0;
  }
}
@media screen and (max-width: 648px) {
  .partners img:last-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 648px) {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.age {
  justify-content: flex-end;
  min-height: 500px;
  text-align: center;
  padding-top: 40px;
  background-color: #00b5d2;
  color: #ffffff;
}
.age .age__body {
  padding: 36px 0;
}
.age .age__picture {
  position: relative;
  padding-top: 36px;
  bottom: -10px;
  max-width: 100%;
}
@media screen and (max-width: 400px) {
  .age .age__picture {
    bottom: -3px;
  }
}
@media screen and (max-width: 648px) {
  .age {
    min-height: auto;
  }
}

.mbis-purpose {
  min-height: 360px;
  justify-content: center;
}
.mbis-purpose .mbis-puppose__mission {
  max-width: 57%;
  text-align: center;
}
@media screen and (max-width: 1044px) {
  .mbis-purpose .mbis-puppose__mission {
    max-width: 80%;
  }
}
@media screen and (max-width: 648px) {
  .mbis-purpose .mbis-puppose__mission {
    max-width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .mbis-purpose .mbis-puppose__mission {
    max-width: 100%;
  }
}
.mbis-purpose .mbis-puppose__mission, .mbis-purpose .mbis-purpose__header, .mbis-purpose .mbis-purpose__button {
  margin: 18px 0;
}

.home-support {
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 600px;
  max-width: 100%;
  margin-bottom: 110px;
  background: url(../imgs/home-support.png) center no-repeat;
  background-size: cover;
}
.home-support .home-suppot__slider {
  max-width: 100%;
  position: absolute;
  bottom: -45px;
}
@media screen and (max-width: 1044px) {
  .home-support {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .home-support {
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .home-support {
    height: 171.4285714286px;
  }
}

.career {
  flex-direction: row;
  justify-content: stretch;
  min-height: 440px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 65px;
}
.career .career__career-img {
  width: 51%;
}
@media screen and (max-width: 780px) {
  .career .career__career-img {
    width: 100%;
  }
}
.career .career__career-body {
  width: 49%;
}
@media screen and (max-width: 780px) {
  .career .career__career-body {
    width: 100%;
    padding: 45px 30px 50px 30px;
  }
}
@media screen and (max-width: 1196px) {
  .career {
    min-height: auto;
  }
}
@media screen and (max-width: 780px) {
  .career {
    flex-direction: column;
  }
}

.career-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 30px 50px;
  background-color: #367ab7;
  color: #ffffff;
}
.career-body .career-body__agitation {
  font-family: "Lato-Italic";
}
@media screen and (max-width: 990px) {
  .career-body h2 {
    font-size: 1.89em;
  }
}
.career-body .career-body__description {
  max-width: 90%;
}
@media screen and (max-width: 990px) {
  .career-body .career-body__description {
    max-width: 100%;
  }
}
.career-body .career-body__button {
  background-color: #00b5d2;
  box-shadow: 0 10px #008ea5;
}
@media screen and (max-width: 1196px) {
  .career-body {
    padding: 5px 30px 15px;
  }
}

/*# sourceMappingURL=style.css.map */
