$menu-color: #454546;
$primary-color: #777777;
$highlight-color: #00b5d2;
$home-support-color: #1b97c5;
$light-color: #ffffff;
$button-hero-color: #e1aa6e;
$button-hero-shadow: #ba8e5b;
$career-baclground: #367ab7;
$career-button-color: #00b5d2;
$career-shadow-color: #008ea5;
$footer-border: #cccccc;
$footer-light: #eeeeee;
$footer-menu-color: #999999;
$footer-color: #b6b6b6;
$lower-footer-color: #cecece;
$mobile-menu-bg: rgba(236, 185, 126, 0.5);
