*{  
    @include box-sizing(border-box);
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body{
	font-size: $font-size-primary;
	font-family: $family-primary;
	color: $primary-color;
}

ul {
    list-style: none;
}

a:hover, a
{
	text-decoration: none;
	color: inherit;
}

a:hover, button:hover{
	cursor: pointer;
}

button{
	border-radius: 0;
	border: none;
	color: inherit;
	font-family: inherit;
}