$header-height: 110px;
// $hero-tagline-height: 660px;
$button-height: 60px;
$button-width: 300px;
$partenrs-height: 100px;
$age-height: 500px;
$mbis-purpose-height: 360px;
$home-support-height: 600px;
$slider-item-width: 755px; 
$career-img-width: 610px;
$career-height: 440px;
$upper-footer-height: 300px;
$filler-size: 13px;